[submodule "dependencies/gears"]
	path = dependencies/gears
	url = https://github.com/yoori/gears.git
	branch = master
[submodule "dependencies/jsoncons/jsoncons"]
	path = dependencies/jsoncons/jsoncons
	url = https://github.com/danielaparker/jsoncons.git
	branch = master
[submodule "dependencies/async-radius/async-radius"]
        path = dependencies/async-radius/async-radius
        url = https://github.com/yoori/async-radius.git
        branch = main
[submodule "dependencies/nDPI"]
	path = dependencies/nDPI
	url = https://github.com/yoori/nDPI.git
	branch = dev
