[submodule "dependencies/gears"]
	path = dependencies/gears
	url = https://github.com/yoori/gears.git
	branch = master
[submodule "dependencies/jsoncons/jsoncons"]
	path = dependencies/jsoncons/jsoncons
	url = https://github.com/danielaparker/jsoncons.git
	branch = master
[submodule "ependencies/nDPI"]
	path = ependencies/nDPI
	url = https://github.com/yoori/nDPI.git
	branch = dev
