[submodule "dependencies/gears"]
	path = dependencies/gears
	url = https://github.com/yoori/gears.git
[submodule "dependencies/nDPI"]
	path = dependencies/nDPI
	url = https://github.com/yoori/nDPI.git
[submodule "dependencies/jsoncons/jsoncons"]
	path = dependencies/jsoncons/jsoncons
	url = https://github.com/danielaparker/jsoncons.git
